Source: viking
Section: utils
Priority: optional
Maintainer: Bernd Zeimetz <bzed@debian.org>
Uploaders: Guilhem Bonnefille <guilhem.bonnefille@gmail.com>
Build-Depends: debhelper (>= 7.2.14),
 automake (>= 1.13),
 autoconf,
 autotools-dev (>= 20100122.1~),
 libcurl4-gnutls-dev,
 libexpat1-dev,
 libgtk2.0-dev,
 libglib2.0-dev (>= 2.12.0),
 libgps-dev (>= 2.90), 
 xsltproc,
 docbook-xsl,
 docbook-xml,
 gtk-doc-tools,
 intltool,
 quilt (>= 0.46-8),
 bc,
 gnome-doc-utils (>= 0.3.2),
 rarian-compat | scrollkeeper,
 libgexiv2-dev,
 dh-autoreconf,
 libbz2-dev,
 libmagic-dev,
 gnome-common,
 libsqlite3-dev,
 libmapnik-dev
Standards-Version: 3.8.4
Homepage: http://viking.sf.net
Vcs-Git: git://git.debian.org/collab-maint/viking.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/viking.git

Package: viking
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gpsbabel
Suggests: gpsd
Recommends: expect-dev
Description: GPS data editor, analyzer and viewer
 Viking aims to be easy to use, yet powerful in accomplishing a wide
 variety of GPS related tasks.It uses a hierarchical layering system
 to organize GPS data, maps and other layer types with spatial data.
 .
 Some of the things that Viking is capable of:
 .
  * Show various OpenStreetMap, Bing Aerial and other maps in it.
  * Uploading and downloading waypoints, tracks and routes to/from a GPS device.
  * Import and export of GPX, KML + any many other file types via GPSBabel.
  * Create and edit tracks, routes and waypoints.
  * Geotag images.
  * Create maps using Mapnik.
  * Download Wikipedia points, OSM Traces or Your Personal OSM Traces for an
    area on the map.
  * Manage and analyse properties of waypoints, tracks and routes (such speed,
    distance, elevation etc...).
  * Realtime GPS tracking via GPSD and track recording.
