#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh --with quilt --with autotools_dev $@

override_dh_auto_test:
	# The test suite is buggy.
	-dh_auto_test --with quilt --with autotools_dev

.PHONY: override_dh_auto_test
