#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh --with quilt $@

override_dh_auto_configure:
	#make building from upstream sources more easy
	if [ ! -x configure ]; then \
		set -e ;\
		./autogen.sh ;\
		touch clean-configure ;\
	fi
	[ -r /usr/share/misc/config.guess ] && cp -f /usr/share/misc/config.guess config.guess
	[ -r /usr/share/misc/config.sub ] && cp -f /usr/share/misc/config.sub config.sub
	dh_auto_configure --with quilt -- LDFLAGS="-Wl,-z,defs"


clean: 
	if [ -r clean-configure ]; then \
		rm -f clean-configure config.guess config.sub src/config.h.in aclocal.m4 \
		      src/authors.h missing install-sh depcomp configure Makefile.in ;\
	fi
	dh --with quilt $@

.PHONY: override_dh_auto_configure clean

